/*--------- GLOBALES ---------*/
:root {
  --background-color: #121414;
  --element-color: #181a1b;

  --main-text-color: #ffffff;

  --header-height: 60px;
}

/*--------- GENERALS ---------*/

html, body {
width: 100vw;
height: 100vh;
margin: 0;
}

body {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1 {
margin: 0;
}